
#form{
  float: right;

}
#viewOne{
  height: 90vh;
  border: solid;
  background-repeat: "no-repeat";
}

#main{
  height: 100vh;
  width: auto;
}
#contributions{
  border: solid red;
  width: 450px;
}
#entries{
  height: 400px;
  border: solid red;
  width: 200px;
  overflow: auto;
  text-align: center;
}
#leaderboard{
  height: 100vh;
  width: auto;
}
#login{
  text-align: center;
}
#signup{
  text-align: center;
}
#credentials{
  color: red;
}
