
#form{
  float: right;

}
#viewOne{
  height: 90vh;
  border: solid;
  background-repeat: "no-repeat";
}

#main{
  height: 100vh;
  width: auto;
}
#contributions{
  border: solid rgb(82, 76, 76);
  width: 300px;
  color: red;
  background-color: grey;
}
#entries{
  height: 400px;
  border: solid rgb(15, 13, 13);
  width: 200px;
  overflow: auto;
  text-align: center;
  background-color: rgb(143, 142, 142);
  text-decoration-style: bold;
}
#leaderboard{
  height: 100vh;
  width: auto;
}
#login{
  text-align: center;
}
#signup{
  text-align: center;
}
#credentials{
  color: red;
}
